.banner {
    height: 75vh;
    width: 100%; /* Asegura que el banner ocupe el 100% del ancho */
    position: relative;
}

.banner__image {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: url(../assets/img/Main.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
}

@media (min-width: 768px) {
    .banner__image {
        background-image: url(../assets/img/Coche.jpeg);
    }
}

.banner .banner__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}