/* Aqui añadiremos los componentes como botones ... */

.btn {
    color: #000;
    background-color: #fff;
    padding: 0.8rem;
    display: inline-block;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #000;
    transition: background-color 2s, color 10s;
}

.hidden {
    display: none;
}