/* Ajustes para separar y alinear hacia abajo */
.singup {
    margin: 0 auto;
    max-width: 320px;
    background-size: 250px;
    padding: 20px; /* Ajusta el espacio interno */
}

.singup__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Aumenta el margen inferior para mayor separación entre elementos */
}

.singup__label {
    margin-bottom: 8px; /* Disminuye el margen inferior de las etiquetas */
    font-size: 1.2rem;
}

.singup__input {
    border-radius: 5px;
    padding: 14px 50px; /* Reduce el espacio interior del input */
}

.singup__element.singup__element--checkbox {
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.singup__element.singup__element--checkbox .singup__label {
    margin: 8px 0; /* Ajusta el margen superior e inferior de las etiquetas */
}

.singup__element.singup__element--checkbox input[type="checkbox"] {
    margin: 8px 0; /* Ajusta el margen superior e inferior del checkbox */
}

.singup__element__answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px; /* Ajusta el espacio entre elementos */
}
